@charset "UFT-8";

* { /* Seletor global */
    margin: 0;
    padding: 0;
}

body * {
    color: white;
}

body {
    background: url('../assets/bg-desktop.jpg') no-repeat top center/cover;
    height: 100vh;
}

#container {
    text-align: center;
    width: 100%;
    max-width: 588px;
    margin: 56px auto 0;
}

#perfil {
    margin-bottom: 24px;
}

#perfil img {
    height: 150px;
}

#troca {
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.05);
    width: 64px;
    height: 24px;
    margin: 24px auto;
    border-radius: 50px;
    display: block;    
    position: relative
}

#troca button {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50px;
    border: 0;
    background: white url('../assets/moon-stars.svg') no-repeat center;
    animation: slide-back .4s;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

#troca button:hover {
    outline: 8px solid rgba(255, 255, 255, 0.2);
}

.light #troca button {
    animation: slide-in .4s forwards;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
}

ul li a {
    text-decoration: none;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 16px;
    margin: 0 25px;
}

ul li a:hover {
    border: 1.5px solid white;
    background: rgba(0, 0, 0, 0.02);
}

#linksSocial {
    display: flex;
    justify-content: center;
    margin: 56px auto;
}

#linksSocial a{
    font-size: 24px;
    display: flex;
    border-radius: 50%;
    padding: 16px;
}

#linksSocial a:hover {
    background: rgba(255, 255, 255, 0.2);
}

/* media queries */

@media (max-width: 700px) {
    body {
        background: url('../assets/bg-mobile.jpg') no-repeat top center/cover;
        
    }
}

/* animation */

@keyframes slide-in {
	from {
		left: 0;
	}
	to {
		left: 50%;
	}
}

@keyframes slide-back {
	from {
		left: 50%;
	}
	to {
		left: 0;
	}
}